In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

In [26]:
data = pd.read_csv(r'C:\Users\Dylan\Desktop\ML\SATversusGPAwithATTENDENCE.csv')

In [27]:
print(data.head())

    SAT   GPA Attendance
0  1714  2.40         No
1  1664  2.52         No
2  1760  2.54         No
3  1685  2.74         No
4  1693  2.83         No

In [28]:
# student attended 75% of lessons denoted with 1, if not denoted with 0.

In [29]:
data['Numerical_Att'] = data['Attendance'].map({'Yes':1,'No':0})

In [30]:
data.head()

    SAT   GPA Attendance  Numerical_Att
0  1714  2.40         No              0
1  1664  2.52         No              0
2  1760  2.54         No              0
3  1685  2.74         No              0
4  1693  2.83         No              0

In [31]:
data.drop(['Attendance'], axis = 1)

     SAT   GPA  Numerical_Att
0   1714  2.40              0
1   1664  2.52              0
2   1760  2.54              0
3   1685  2.74              0
4   1693  2.83              0
5   1670  2.91              0
6   1764  3.00              0
7   1764  3.00              0
8   1792  3.01              0
9   1850  3.01              0
10  1735  3.02              0
11  1775  3.07              0
12  1735  3.08              0
13  1712  3.08              0
14  1773  3.12              0
15  1872  3.17              1
16  1755  3.17              0
17  1674  3.17              1
18  1842  3.17              0
19  1786  3.19              1
20  1761  3.19              0
21  1722  3.19              0
22  1663  3.20              0
23  1687  3.21              0
24  1974  3.24              0
25  1826  3.28              0
26  1787  3.28              0
27  1821  3.28              0
28  2020  3.28              0
29  1794  3.28              0
..   ...   ...            ...
54  1879  3.44              1
55  1887  3.47              1
56  1730  3.47              1
57  1953  3.47              0
58  1781  3.47              1
59  1891  3.48              1
60  1964  3.49              0
61  1808  3.49              0
62  1893  3.50              1
63  2041  3.51              0
64  1893  3.51              1
65  1832  3.52              1
66  1850  3.52              1
67  1934  3.54              1
68  1861  3.58              1
69  1931  3.58              1
70  1933  3.59              1
71  1778  3.59              1
72  1975  3.60              1
73  1934  3.60              1
74  2021  3.61              1
75  2015  3.62              1
76  1997  3.64              1
77  2020  3.65              0
78  1843  3.71              1
79  1936  3.71              1
80  1810  3.71              1
81  1987  3.73              0
82  1962  3.76              1
83  2050  3.81              1

[84 rows x 3 columns]

In [32]:
data.describe()

               SAT        GPA  Numerical_Att
count    84.000000  84.000000      84.000000
mean   1845.273810   3.330238       0.464286
std     104.530661   0.271617       0.501718
min    1634.000000   2.400000       0.000000
25%    1772.000000   3.190000       0.000000
50%    1846.000000   3.380000       0.000000
75%    1934.000000   3.502500       1.000000
max    2050.000000   3.810000       1.000000

In [39]:
y = data['GPA']
x1 = data[['SAT', 'Numerical_Att']]

In [40]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.565
Model:                            OLS   Adj. R-squared:                  0.555
Method:                 Least Squares   F-statistic:                     52.70
Date:                Thu, 08 Aug 2019   Prob (F-statistic):           2.19e-15
Time:                        23:10:43   Log-Likelihood:                 25.798
No. Observations:                  84   AIC:                            -45.60
Df Residuals:                      81   BIC:                            -38.30
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.6439      0.358      1.797      0.076      -0.069       1.357
SAT               0.0014      0.000      7.141      0.000       0.001       0.002
Numerical_Att     0.2226      0.041      5.451      0.000       0.141       0.304
==============================================================================
Omnibus:                       19.560   Durbin-Watson:                   1.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.189
Skew:                          -1.028   Prob(JB):                     1.25e-06
Kurtosis:                       4.881   Cond. No.                     3.35e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.35e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

y^ = .6439 + .0014x1 + .226x2

In [41]:
x

    const   SAT  Numerical_Att
0     1.0  1714              0
1     1.0  1664              0
2     1.0  1760              0
3     1.0  1685              0
4     1.0  1693              0
5     1.0  1670              0
6     1.0  1764              0
7     1.0  1764              0
8     1.0  1792              0
9     1.0  1850              0
10    1.0  1735              0
11    1.0  1775              0
12    1.0  1735              0
13    1.0  1712              0
14    1.0  1773              0
15    1.0  1872              1
16    1.0  1755              0
17    1.0  1674              1
18    1.0  1842              0
19    1.0  1786              1
20    1.0  1761              0
21    1.0  1722              0
22    1.0  1663              0
23    1.0  1687              0
24    1.0  1974              0
25    1.0  1826              0
26    1.0  1787              0
27    1.0  1821              0
28    1.0  2020              0
29    1.0  1794              0
..    ...   ...            ...
54    1.0  1879              1
55    1.0  1887              1
56    1.0  1730              1
57    1.0  1953              0
58    1.0  1781              1
59    1.0  1891              1
60    1.0  1964              0
61    1.0  1808              0
62    1.0  1893              1
63    1.0  2041              0
64    1.0  1893              1
65    1.0  1832              1
66    1.0  1850              1
67    1.0  1934              1
68    1.0  1861              1
69    1.0  1931              1
70    1.0  1933              1
71    1.0  1778              1
72    1.0  1975              1
73    1.0  1934              1
74    1.0  2021              1
75    1.0  2015              1
76    1.0  1997              1
77    1.0  2020              0
78    1.0  1843              1
79    1.0  1936              1
80    1.0  1810              1
81    1.0  1987              0
82    1.0  1962              1
83    1.0  2050              1

[84 rows x 3 columns]

In [43]:
test = pd.DataFrame({'const':1,'SAT':[1760, 1670],'Numerical_Att':[0,1]})
test = test[['const', 'SAT', 'Numerical_Att']]

In [44]:
test.head()

   const   SAT  Numerical_Att
0      1  1760              0
1      1  1670              1

In [ ]:
# feed to model

In [45]:
predictions = results.predict(test)
print(predictions)

0    3.107501
1    3.204163
dtype: float64

In [ ]:
# even with scoring lower on the SAT, still able to graduate with higher GPA due to showing up to atleast 75% of classes